name: ZeDMD

on:
    push:

    pull_request:

jobs:
    pio-run:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                panels: ['64x32x2', '64x64x4', '128x64x2']

        name: ZeDMD ${{ matrix.panels }}

        steps:
            - uses: actions/checkout@v3

            - name: Cache pip
              uses: actions/cache@v3
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-

            - name: Cache PlatformIO
              uses: actions/cache@v3
              with:
                path: ~/.platformio
                key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}

            - name: Set up Python
              uses: actions/setup-python@v3

            - name: Install PlatformIO
              run: |
                python -m pip install --upgrade pip
                pip install --upgrade platformio

            - name: Build ZeDMD
              run: |
                pio run -e ${{ matrix.panels }}
                pio run -e ${{ matrix.panels }} -t buildfs
                python ~/.platformio/packages/tool-esptoolpy/esptool.py --chip esp32 merge_bin -o ZeDMD.bin --flash_mode dio --flash_size 4MB \
                  0x1000 .pio/build/${{ matrix.panels }}/bootloader.bin \
                  0x8000 .pio/build/${{ matrix.panels }}/partitions.bin \
                  0xe000 ~/.platformio/packages/framework-arduinoespressif32/tools/partitions/boot_app0.bin \
                  0x10000 .pio/build/${{ matrix.panels }}/firmware.bin \
                  0x210000 .pio/build/${{ matrix.panels }}/spiffs.bin

            - uses: actions/upload-artifact@v3
              with:
                name: ZeDMD-${{ matrix.panels }}
                path: ZeDMD.bin
